/* Fonts – Sarabun Latin */

@font-face {
	font-display: swap;
	font-family: 'Sarabun';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/sarabun-v17-latin-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Sarabun';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/sarabun-v17-latin-600.woff2') format('woff2');
}


/* Reset */

*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}
html {
	font-family: 'Sarabun', sans-serif;
}


/* Styles for Header */

.header {
	width: 100%;
	height: 90px;
	background: rgba(255, 255, 255, 0.7);
	position: fixed;
	z-index: 5;
}
.header__content {
	height: 100%;
	padding: 0 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__nav-list {
	display: flex;
	gap: 32px;
}
.header__nav-link {
	color: #313131;
	font-size: 1.25rem;
	font-weight: 600;
}
.btn {
	width: 150px;
	height: 50px;
	background-color: #ab2328;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	color: #fff;
	font-size: 1.25rem;
	position: relative;
	z-index: 3;
}


/* Styles for Hero */

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	width: 100%;
	min-height: 100vh;
	background-image: url('../images/hero-image.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	position: relative;
}
.hero::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	background-color: rgba(0, 0, 0, 0.15);
}
.hero__logo {
	min-width: 250px;
	position: relative;
}
.hero__logo::before {
	content: '';
	width: 250px;
	height: 250px;
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	border-radius: 100%;
}
.hero__logo-image {
	width: 100%;
	position: relative;
	z-index: 1;
}
.hero__title {
	font-size: 5rem;
	text-align: center;
	position: relative;
	z-index: 1;
}
.hero__description {
	font-size: 2rem;
	text-align: center;
	position: relative;
	z-index: 1;
}
.hero__cta {
	display: flex;
	gap: 2rem;
}
.hero__cta {
	margin-top: 2rem;
	display: flex;
	gap: 4rem;
}
.hero__book-btn {
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.hero__book-pic {
	width: 40px;
	height: 40px;
}
.hero__wa-btn {
	background-color: #2cb742;
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.hero__wa-logo {
	width: 40px;
	height: 40px;
}


/* Styles for About Us */

.about-us {
	width: 100%;
	padding: 2rem;
	text-align: center;
	background-color: #fbfaf2;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
}
.about-us__title {
	font-size: 2rem;
	max-width: 450px;
	color: #3f3f3f;
}
.about-us__text {
	text-align: justify;
	width: 50%;
	max-width: 650px;
	color: #7f7f7f;
}


/* Styles for Rooms */

.rooms {
	width: 100%;
	padding: 2rem;
	background-color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.rooms__title {
	color: #3f3f3f;
}
.rooms__text {
	color: #7f7f7f;
}
.rooms__cards {
	display: flex;
	justify-content: space-between;
}
.rooms__item {
	width: 30%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.rooms__image {
	width: 100%;
	object-fit: cover;
}
.rooms__name {
	font-size: 1.5rem;
	color: #3f3f3f;
}
.rooms__description {
	padding: 0 1rem;
	text-align: justify;
	font-size: 1rem;
	color: #7f7f7f;
}


/* Styles for Gallery */

.gallery__grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0;
}
.gallery__item {
	width: 100%;
}


/* Styles for Booking form */

.booking {
	padding: 2rem;
}
.booking__container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 30vw;
}
.booking__title {
	font-size: 1.5rem;
	color: #3f3f3f;
}
.booking__subtitle {
	font-size: 1rem;
	color: #7f7f7f;
}
.booking__form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 100%;
}
.booking__field {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.booking__field label {
	width: 100%;
	color: #3f3f3f;
	text-align: left;
}
.booking__field input, .booking__field textarea {
	padding: 0.5rem;
}
.booking__row {
	display: flex;
	justify-content: space-evenly;
}
.booking__row .booking__field {
	width: 30%;
}
.guests {
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.guests label {
	width: fit-content;
}
.booking__submit {
	width: 100%;
}


/* Styles for Footer */

.footer {
	background-color: #3f3f3f;
	color: #fff;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0;
}
.footer a {
	color: #fff;
	font-size: 1.5rem;
}
.footer__block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1rem;
	padding: 1rem;
}
.footer__block.first {
	text-align: center;
}
.footer__block p {
	font-size: 1.5rem;
}
.footer__block.footer__contact {
	gap: 0;
	align-self: flex-end;
}
.footer__block.footer__contact p, .footer__block.footer__contact a {
	font-size: 1rem;
	text-align: right;
}
.footer__title {
	font-size: 2rem;
	text-align: center;
}
.footer__text {
	font-size: 1.5rem;
}
.footer__wa {
	margin-top: 2rem;
}
.footer__block.footer__map {
	padding: 0;
}
.footer__map {
	grid-column: 2;
	grid-row: 1 / 3;
}
.footer__map iframe {
	border: none;
	width: 50vw;
	height: 100%;
}
.footer__map h3 {
	display: none;
}
.footer__bottom {
	grid-column: 1 / 3;
	text-align: center;
	font-size: 0.8rem;
}
.footer__wa-btn {
	background-color: #2cb742;
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.footer__wa-logo {
	width: 40px;
	height: 40px;
}